name: Laravel

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  laravel-tests:

    runs-on: ubuntu-latest

    steps:
    - uses: shivammathur/setup-php@b7d1d9c9a92d8d8463ce36d7f60da34d461724f8
      with:
        php-version: '8.0'
    - uses: actions/checkout@v2
    - name: Copy .env
      run: php -r "file_exists('.env') || copy('.env.example', '.env');"
    - name: Install Dependencies
      run: composer install -q --no-ansi --no-interaction --no-scripts --no-progress --prefer-dist
    - name: Generate key
      run: php artisan key:generate
    - name: Directory Permissions
      run: chmod -R 777 storage bootstrap/cache
    - name: Create Database
      run: |
        mkdir -p database
        touch database/database.sqlite
    - name: Execute tests (Unit and Feature tests) via PHPUnit
      env:
        DB_CONNECTION: sqlite
        DB_DATABASE: database/database.sqlite
      run: vendor/bin/phpunit


  build:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Node.js
        uses: actions/setup-node@v2-beta
        with:
          node-version: '12'
          check-latest: true
      - name: Install NPM dependencies
        run: npm install
      - name: Compile assets for production
        run: npm run production


  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Create SSH key
        run: |
          mkdir -p /home/runner/.ssh/
          echo "$SSH_PRIVATE_KEY" > /home/runner/.ssh/private.key
          sudo chmod 600 /home/runner/.ssh/private.key
          echo "$SSH_KNOWN_HOSTS" > /home/runner/.ssh//known_hosts
        shell: bash
        env:
          SSH_PRIVATE_KEY: ${{secrets.SSH_PRIVATE_KEY}}
          SSH_KNOWN_HOSTS: ${{secrets.SSH_KNOWN_HOSTS}}
      - name: Create SSH Config file
        run: |
          cd /home/runner/.ssh/
          touch config
          echo "Host 188.166.52.126" > /home/runner/.ssh/config
          echo "  HostName 188.166.52.126" >> /home/runner/.ssh/config
          echo "  PreferredAuthentications publickey" >> /home/runner/.ssh/config
          echo "  IdentityFile /home/runner/.ssh/private_key" >> /home/runner/.ssh/config
        shell: bash
      - name: Cat config
        run: |
          cd /home/runner/.ssh/
          ls -al
          cat config
        shell: bash
      - name: SSH into DO and run
        run: >
          ssh -i /home/runner/.ssh/private_key -tt root@188.166.52.126
          "
            cd ~/.ssh/
            ls -al 
            pwd
          "
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install Envoy
        run: composer require laravel/envoy --dev
      - name: Deployment
        if: github.ref == 'refs/heads/main'
        run: php vendor/bin/envoy run deploy